h1 {
  text-align: center;
  font-style: normal;
}
h2 {
  color: rgb(6, 68, 238);
  margin-left: 220px;
}
a {
  text-decoration: none;
  color: rgb(35, 44, 82);
}
a:hover {
  color: #800000;
}
img {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}
.har {
  margin-left: 200px;
}
.har1 {
  margin-left: 200px;
}
.opisanie {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: justify;
  border-bottom: 2px solid maroon;
  font-weight: normal;
  padding-bottom: 3px;
}